body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}

.header{
	height:194px;
	background-color:#E8E8E8;
	border-bottom:5px solid #ffdbf0;
  position:relative;
}

.header-dark{
	background-color:#151515;
	border-bottom: 5px solid #d34b80;
}

.content{
	height:100vh;
	width:100%;
	background-color:#FAFAFA;
    background: url('Photos/tilebg.png');
}

.dark-mode{
	background-color:#212121;
	color: #FAFAFA;
	background: url('Photos/tilebg-dark.png');
}

.toggledarkbutton{
	border: 1px solid #212121;
	position:absolute;
	top:0;
	right:0;
	background-color:transparent;
	border-radius:7px;
	padding: 5px 5px 3px 5px;
}

.toggledarkbutton-dark{
	border: 1px solid #FAFAFA;
}

.toggledarkicon{
	height:16px;
	width:16px;
}

.title-message{
	text-align:center;
	font-size:200%;
	padding: 5px 0px 0px 0px;
}

.searchbar{
	all: unset;
	padding: 5px 5px 5px 15px;
}

#search-form{
	border: 1px solid #999;
	border-radius: 25px;
	width: 300px;
	height: 44px;
	display:flex;
	margin: auto;
}

.search-button{
	all: unset;
}

.navbar{
padding: 10px 0;
  background-color:#00000003;
  position:absolute;
  z-index: 99;
  text-align: center;
  bottom: 0;
  width:100%;
  border-top:5px solid #ffdbf0;
}

.navbar-dark{
  background-color:#FFFFFF10;
  border-top: 5px solid #d34b80;
}
div{
  display: block;
}

a{
  all:unset;
}
